<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} P8 AI Demo</title>

          <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <br><br>
              <h1 class="header center orange-text">Segmentation sémantique d'images</h1>
              <div class="row center">
                <h5 class="header col s12 light">Prédire le mask d'une image venant de Cityscapes
                <br>
                </h5>
            </div>

        <div class="row center">
            <a href="{{url_for('submit')}}" button type="submit" class="btn-large waves-effect waves-light orange">Try me !</a></button>
        </div>
        <br><br>
        <br><br>
        <br><br>

        <footer class="page-footer orange darken-1">
            <div class="container">
              <div class="row">
                <div class="col l40 s40">
                  <h5 class="white-text">Projet 8</h5>
                  <p class="grey-text text-lighten-4">Application réalisée dans le cadre du projet "Participez à la conception d'une voiture autonome" du parcours Ingénieur ML.</p>
                </div>
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
                Réalisé avec <a class="orange-text text-lighten-3" href="https://openclassrooms.com/fr/">OpenClassrooms</a>
              </div>
            </div>
          </footer>
</html>

